.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.back {
    width: 20%;
    text-decoration: none;
    color: #1d3b1c;
    font-size: 24px;
}

.header h1 {
    width: 60%;
    text-align: center;
}

.add {
    width: 20%;
    background: #2c5729;
    color: white;
    border: none;
    height: 30px;
}

.delete {
    background: #2c5729;
    color: white;
    border: none;
    height: 30px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border: solid 1px #1d3b1c;
    padding: 20px 0;
    margin-bottom: 20px;
}

.form label {
    width: 70%;
    text-align: start;
}

.form input {
    width: 70%;
    height: 25px;
    margin: 0 0 20px 0;
}

.form textarea {
    min-width: 70%;
    max-width: 70%;
    min-height: 120px;
    margin: 0 0 20px 0;
}

.form .submit {
    width: 20%;
    background: #2c5729;
    color: white;
    border: none;
    height: 40px;
}

.teamLabel {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: 1px solid #2c5729;
    color: #2c5729;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: -1px 0px 0px 0px #2c5729, 1px 0px 0px 0px #2c5729;
}

.teamOption {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #1d3b1c;
    background: transparent;
    color: #2c5729;
}

.dateBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 15px;
}

.datesCard {
    width: 100%;
    display: flex;
    flex-direction: column;
}