.footer {
    margin-top: 50px;
    width: 100vw;
    height: 20vh;
    background: #2c5729;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socials i {
    font-size: 36px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.content a {
    color: white;
    text-decoration: none;
}

